*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:rgb(43, 42, 42);
}

.header{
    position:relative;
    text-align:center;
    padding:1em;
}

.giph-img, .weed-img{
    height:50%;
    width:100%;
    position:absolute;

}

.giph-img{
    animation:grow 1s forwards;
    transform:rotate(3deg);

}

.weed-img{
    top:50%;
    transform:rotate(-15deg);
    animation:grow2 1s forwards;

}


@keyframes grow{
    0%{height:0px;width:0px;transform:translateX(200%)}
    100%{height:50%;width:100%;transform:translateX(0%)}
}


@keyframes grow2{
    0%{height:0px;width:0px;transform:translateX(-200%)}
    100%{height:50%;width:100%;transform:translateX(0%)rotate(-10deg)}
}

.giph-img{
    z-index:1;
}

.header-h1{
    position:absolute;
    color:green;
    text-shadow:3px 5px 8px black;
    z-index:2;
    letter-spacing:2px;
    /* background:white; */
    border-radius:100px;
    left:15%;
    top:3%;
}



.container{
    height:100vh;
    width:100%;
    position:relative;;
}

.card{
    position:absolute;
    left:60%;
    top:47%;
    height:20%;
    width:30%;
    /* background:white; */
    opacity:.8;
    display:flex;
    align-items:center;
    justify-content: center;
}

.signin-btn{
    background:green;
    width:100px;
    height:40px;
    border-radius:100px;
}

.footer{
    text-align:center;
    color:white;
    animation:shadow 2s infinite;
    position:relative;
    z-index:1;
}


@keyframes shadow{
    0%{text-shadow:2px 2px 0px green}
    100%{text-shadow:2px 2px 9px green}
}